/* Dit is de CSS voor die mooie navigatie knoppen (Copyright Dennis ten Hoove.inc 2017 :P) boven aan de pagina*/
.nav_button {
	text-align: center;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 15px;
	padding: 10px 10px;
	/* text-shadow: 0px 1px 0px #b23e35; */
	width: 12.3%;
  height: 20px;
}

/* Dit is voor een kleine animatie bij hoover op de navigatie knoppen */
.nav_button:hover {
  transition: 0.5s;
  background-color: #528ae5;
	opacity: 1;
}
