/* Dit stukje code zorgt voor de schaduw en doorzichtigheid van de frames */
header, nav, footer, #important, #populair {
  /* box-shadow: 7px 7px rgba(0, 0, 0, 0.5); */
  opacity: 0.8;
}

body {
  padding-top: 12px;
  background-size: auto;
  background-attachment: fixed;
}

nav {
  text-align: center;
}

/* Dit is voor de <div> waar alle andere <div>s zich in bevinden */
#main {
  width: 80%;
  height: 100%;
  margin: auto;
}

header {
  width: 100%;
  height: 75px;
  background-color: red;
}

nav {
  width: 100%;
  height: 40px;
  background-color: #143a77;
}

footer {
  width: 100%;
  height: 75px;
  background-color: purple;
}

/* Dit is de CSS voor die mooie navigatie knoppen (Copyright Dennis ten Hoove.inc 2017 :P) boven aan de pagina*/
.nav_button {
	text-align: center;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 15px;
	padding: 10px 10px;
	text-shadow: 0px 1px 0px #b23e35;
	width: 12.3%;
  height: 20px;
}

/* Dit is voor een kleine animatie bij hoover op de navigatie knoppen */
.nav_button:hover {
  transition: 0.5s;
  background-color: #528ae5;
	opacity: 1;
}

 #important {
   width: 100%;
   height: 400px;
   background-color: blue;
 }

 #populair {
   width: 100%;
   height: 450px;
   background-color: orange;
 }
